.product_item {
    border-width: 10px;
    border-color: rgba(0, 0, 0, 0.64);
    padding: 7px;
    margin: auto;
    width: 65%;
}

.product_item:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.46);
}

.product_item img {
    width: 200px;
    height: 200px;
}

.description {

}

li {
    list-style-type: none;
}