.product_item {
    border-width: 10px;
    border-color: rgba(0, 0, 0, 0.64);
    padding: 7px;
    /*float: left;*/
    margin: auto;
}

.product_item:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.46);
}

.product_item img {
    width: 200px;
    height: 200px;
}

.description {
    /*float: right;*/
}

li {
    list-style-type: none;
}